<h2>Exhibits</h2>

<table>
  <tr>
    <th>Artist</th>
    <th>Category</th>
    <th></th>
  </tr>
  <% @exhibits.each do |exhibit| %>
  <tr>
    <td>
      <%= exhibit.artist.name %>
    </td>
    <td>
      <%= exhibit.category %>
    </td>
    <td>
      <a href="/exhibits/<%= exhibit.id %>">go to</a>
    </td>
  </tr>
  <% end %>
</table>

<a href="/exhibits/new">Add an Exhibit</a>
