<h2>Exhibition by <%= @exhibit.artist.name %></h2>
<h2>Category: <%= @exhibit.category %></h2>
<a href="/exhibits/<%= @exhibit.id %>/edit">
  Edit
</a>
<br>
<form action="/exhibits/<%= @exhibit.id %>/delete" method="post">
  <input type="submit" value="delete">
</form>
