<!DOCTYPE html>
<html>
<head>
  <title>Art Museum</title>
  <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
  <link rel="stylesheet" type="text/css" href="/styles/forms.css">
  <link rel="stylesheet" type="text/css" href="/styles/structures.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
  <link rel="icon" href="/images/frame.png">
</head>
<body>
  <nav>
    <ul class="home">
      <li>
        <a class="home" href="/">The Art Museum</a>
      </li>
    </ul>
    <ul class="nav">
      <li>
        <a href="/artists"> > Our Artists</a>
      </li>
      <li>
        <a href="/exhibits"> > What's On</a>
      </li>
    </ul>
  </nav>
  <section id="content">
  <%= yield %>
  </section>
</body>
</html>
