<!DOCTYPE html>
<html>
<head>
  <title>Museum of Art and Culture</title>
  <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
  <link rel="stylesheet" type="text/css" href="/styles/forms.css">
  <link rel="stylesheet" type="text/css" href="/styles/structures.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/">MoAC</a>
      </li>
      <li>
        <a href="/artists">Artists</a>
      </li>
      <li>
        <a href="/exhibits">Exhibits</a>
      </li>
    </ul>
  </nav>
  <section id="content">
  <%= yield %>
  </section>
</body>
</html>
