<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">
  <title>Museum of Art and Culture</title>

</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/">MoAC</a>
      </li>
      <li>
        <a href="/artists">Artists</a>
      </li>
      <li>
        <a href="/exhibits">Exhibits</a>
      </li>
    </ul>
  </nav>

  <%= yield %>
  
</body>
</html>
