.rm_filter {
  font-size: 0.80em;
  text-align: right;
}

.add {
  text-align: right;
  margin: 0;
}

a.home {
  color: white !important;
  font-size: 2.5em;
}

a.home:hover, a.home:active, a.home:focus {
  color: silver !important;
}

ul.home {
  width: 146px;
  margin: 0;
  padding: 0;
}

.nav {
  padding: 0;
  margin: 6px 0;
}

.edit {
  flex-direction: column;
  align-items: flex-end;
}
