input[type="submit"] {
  cursor: pointer;
  border: 1px solid white;
  border-radius: 4px;
  background-color: black;
  padding: 1px 7px;
  color: white;
  font-family: sans-serif;
  text-transform: capitalize;
  font-size: 0.8em;
}

input[type="submit"]:hover {
  border-color: red;
}

input[value="delete"] {
  border: none;
  background-color: black;
  padding: 0;
  color: silver;
  text-transform: capitalize;
  font-size: medium;
}

input[value="delete"]:hover {
  color: white;
}
