body {
  font-family: "Times New Roman", Times, serif;
  background-color: maroon;
  color: white;
}

a, a:link, a:visited {
  color: white;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: silver;
}

li {
  padding: 10px;
  margin: 0;
  list-style-type: none;
  display: inline-block;
  background-color: goldenrod;
}

h1, h2 {
  color: gold;
  margin: 0;
  margin-bottom: 10px;
}

#content {
  margin: 0 40px;
  padding: 10px;
  display: flex;
  flex-flow: column wrap;
  background-color: rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  line-height: 1.3;
}
