body {
  font-family: "Times New Roman", Times, serif;
  background-color: black;
  color: white;
}

a, a:link, a:visited {
  color: silver;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: white;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  border-bottom: 2px silver solid;
  margin: 0 50px;
}

li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

hr {
  width: 590px;
  margin: -5px 0 0 45px;
}

h1, h2 {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

#content {
  margin: 0 70px;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  background-color: rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  line-height: 1.3;
}
