<h2>Artists</h2>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% @artists.each do |artist| %>
  <tr>
    <td>
      <%= artist.name %>
      <form action="/artists/<%= artist.id %>/delete"
        method="post">
        <input type="submit" value="delete">
      </form>
    </td>
  </tr>
  <% end %>
</table>

<a href="/artists/new">Add an Artist</a>
