<div>
<h2>Artists</h2>
<a class="add" href="/artists/new">Add an Artist</a>
</div>
<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  <% @artists.each do |artist| %>
  <tr>
    <td>
      <%= artist.name %>
    </td>
    <td>
      <form action="/artists/<%= artist.id %>/delete"
        method="post">
        <input type="submit" value="delete">
      </form>
    </td>
  </tr>
  <% end %>
</table>
